<app-refreshable-layout
  [title]="coinTitle()"
  [fetchFn]="fetchFn()"
  [requiresAuth]="true"
  [pageHeaderParams]="{
    startButton: 'back',
    defaultHref: '/secure/open-orders?coin=' + coin()
  }"
  (dataLoaded)="onDataLoaded($event)"
>
  <ng-template #endButtons>
    <ion-button (click)="openEditModal()" [disabled]="!order() || !authService.isLoggedIn()">
      <ion-icon slot="icon-only" name="create-outline" />
    </ion-button>

    <ion-button
      (click)="confirmCancel()"
      [disabled]="cancelling() || !authService.isLoggedIn()"
      color="danger"
    >
      <ion-icon slot="icon-only" name="trash-outline" />
    </ion-button>
  </ng-template>

  @if (order(); as o) {
  <ion-item lines="full">
    <ion-label>Side</ion-label>
    <div slot="end">
      <ion-badge [color]="orderSideColor()" class="side-badge">{{ orderSideLabel() }}</ion-badge>
    </div>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Status</ion-label>
    <div slot="end">
      @if (orderStatus()) {
      <ion-badge [color]="statusColor()" class="status-badge">{{ orderStatus() }}</ion-badge>
      }
    </div>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Type</ion-label>
    <ion-note slot="end">{{ o.orderType }}</ion-note>
  </ion-item>

  @if (o.tif) {
  <ion-item lines="full">
    <ion-label>TIF</ion-label>
    <ion-note slot="end">{{ o.tif }}</ion-note>
  </ion-item>
  }

  <ion-item lines="full">
    <ion-label>Limit price</ion-label>
    <ion-note slot="end">{{ o.limitPx }}</ion-note>
  </ion-item>

  <ion-item lines="full">
    <ion-label>Size</ion-label>
    <ion-note slot="end">
      {{ o.sz }} / {{ o.origSz }} @if (sizeUsd(); as usd) {
      <span class="size-usd">
        @if (usd === origSizeUsd()) { (≈ {{ usd | number:'1.2-2' }} $) } @else { (≈ {{ usd |
        number:'1.2-2' }} $ / {{ origSizeUsd() | number:'1.2-2' }} $) }
      </span>
      }
    </ion-note>
  </ion-item>

  @if (o.isTrigger) {
  <ion-item lines="full">
    <ion-label>Trigger</ion-label>
    <ion-note slot="end">{{ o.triggerCondition }} @ {{ o.triggerPx }}</ion-note>
  </ion-item>
  }

  <ion-item lines="full">
    <ion-label>Date</ion-label>
    <ion-note slot="end">{{ o.timestamp | date:'dd/MM/yy HH:mm:ss' }}</ion-note>
  </ion-item>

  <ion-item lines="full">
    <ion-label>OID</ion-label>
    <ion-note slot="end">{{ o.oid }}</ion-note>
  </ion-item>

  @if (o.cloid) {
  <ion-item lines="full">
    <ion-label>CLOID</ion-label>
    <ion-note slot="end" class="cloid">{{ o.cloid }}</ion-note>
  </ion-item>
  }

  <ion-item lines="none">
    <ion-label></ion-label>
    <div slot="end" class="detail-badges">
      @if (o.reduceOnly) {
      <ion-badge color="warning">Reduce Only</ion-badge>
      } @if (o.isPositionTpsl) {
      <ion-badge color="primary">TP/SL</ion-badge>
      }
    </div>
  </ion-item>
  }
</app-refreshable-layout>
