.wallet-form {
  max-width: 500px;
  margin: 0 auto;

  .form-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .error-message {
    color: var(--ion-color-danger);
    text-align: center;
    margin-bottom: 10px;
  }

  ion-item {
    margin-bottom: 10px;
  }
}
