<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Securised content!</p>
  <app-liquid-loader
    style="
      --liquid-loader-color-1: var(--ion-color-tertiary);
      --liquid-loader-color-2: var(--ion-color-tertiary);
    "
  ></app-liquid-loader>
  <app-liquid-loader></app-liquid-loader>
  <app-liquid-spinner
    style="--liquid-spinner-color-1: var(--ion-color-tertiary)"
  ></app-liquid-spinner>
  <app-liquid-spinner></app-liquid-spinner>
</ion-content>
