:host {
  height: 100px;
  display: block;
}

.liquid-loader {
  position: relative;
  min-height: 100px;

  transform: scale(0.5);

  --liquid-loader__radius: 60px;
  --liquid-loader__color-1: var(--liquid-loader-color-1, var(--ion-color-primary, #00ffdd));
  --liquid-loader__color-2: var(--liquid-loader-color-2, var(--ion-color-primary, #00ffdd));
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url('#goo-filter');
}

.ball {
  width: var(--liquid-loader__radius);
  height: var(--liquid-loader__radius);
  position: absolute;
  top: calc(50% - var(--liquid-loader__radius) * 0.5);
  left: calc(50% - var(--liquid-loader__radius) * 0.5);

  &::before {
    background: var(--liquid-loader__color-1);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:nth-child(1) {
    transform: translate(calc(var(--liquid-loader__radius) * -1.1));
    animation: x-axis-lateral 2s infinite alternate ease-in-out;

    &::before {
      animation: y-axis-lateral 1s infinite 0.1s alternate ease-in-out;
    }
  }

  &:nth-child(2) {
    animation: x-axis 2s infinite alternate ease-in-out;

    &::before {
      animation: y-axis 1s infinite 0.5s alternate ease-in-out;
    }
  }

  &:nth-child(3) {
    transform: translate(
      calc(var(--liquid-loader__radius) * 1.1),
      calc(var(--liquid-loader__radius) * 1.3)
    );
    animation: x-axis-lateral 2s infinite alternate ease;

    &::before {
      animation: y-axis-lateral 1s infinite 0.4s alternate ease-in-out;
    }
  }
}

@keyframes x-axis {
  0% {
    transform: translate(calc(var(--liquid-loader__radius) * -1.6));
  }
  100% {
    transform: translate(calc(var(--liquid-loader__radius) * 1.6));
  }
}

@keyframes y-axis {
  0% {
    transform: translateY(calc(var(--liquid-loader__radius) * 0.7));
  }
  100% {
    transform: translateY(calc(var(--liquid-loader__radius) * -1.1)) scale(0.8);
    background: var(--liquid-loader__color-2);
  }
}

@keyframes x-axis-lateral {
  0% {
    transform: translate(calc(var(--liquid-loader__radius) * -0.6));
  }
  100% {
    transform: translate(calc(var(--liquid-loader__radius) * 0.6));
  }
}

@keyframes y-axis-lateral {
  0% {
    transform: translateY(calc(var(--liquid-loader__radius) * 0.2));
  }
  100% {
    transform: translateY(calc(var(--liquid-loader__radius) * -1));
    background: var(--liquid-loader__color-2);
  }
}

svg {
  position: absolute;
  width: 0;
  height: 0;
}
