:host {
  height: 100px;
  display: block;
}

.liquid-spinner-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;

  transform: translateY(-25%) scale(0.5);

  --liquid-spinner__color-1: var(--liquid-spinner-color-1, var(--ion-color-primary, #4db5a5));
  --liquid-spinner__color-2: var(--liquid-spinner-color-2, var(--ion-color-secondary, #a8bfb5));
}

.liquid-spinner-defs {
  width: 0;
  height: 0;
  position: absolute;
}

.liquid-spinner-main {
  position: relative;
  z-index: 1;
}

.liquid-spinner-shadow {
  filter: blur(5px);
  opacity: 0.3;
  position: absolute;
  transform: translate(3px, 3px);
  z-index: 0;
}

.liquid-spinner-stop-1 {
  stop-color: var(--liquid-spinner__color-1);
}

.liquid-spinner-stop-2 {
  stop-color: var(--liquid-spinner__color-2);
}

.liquid-spinner-path {
  animation: liquid-spinner-rotate 10s infinite linear;
  stroke-dasharray: 180 800;
  fill: none;
  stroke-width: 23;
  stroke-linecap: round;
}

.liquid-spinner-circle {
  animation: liquid-spinner-rotate 3s infinite linear;
  stroke-dasharray: 26 54;
  fill: none;
  stroke-width: 23;
  stroke-linecap: round;
}

@keyframes liquid-spinner-rotate {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -403px;
  }
}
