<app-page-header [title]="title()" />

@if (requiresAuth() && !isLoggedIn()) {
  <ion-content>
    <div class="icon-note">
      <ion-icon
        class="lock-icon"
        name="lock-closed-outline"
        size="large"
        color="medium"
        aria-hidden="true"
      />
      <ion-note color="medium">You need to be signed in to view this content</ion-note>
      <ion-button
        class="sign-in-button"
        expand="block"
        (click)="openLoginModal()"
        aria-label="Sign in to your account"
      >
        <ion-icon slot="start" name="log-in-outline" aria-hidden="true" />
        Sign in
      </ion-button>
    </div>
  </ion-content>
} @else {
  <div class="sticky-filters">
    <ng-content select="[filters]" />
  </div>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    @if (isLoading()) {
      <div class="loading-spinner">
        <ion-spinner name="circular" color="primary"></ion-spinner>
      </div>
    }

    @if (!isLoading() && isEmpty()) {
      <div class="icon-note">
        <ion-icon [name]="emptyIcon()" size="large" color="medium" />
        <ion-note color="medium">{{ emptyMessage() }}</ion-note>
      </div>
    }

    @if (!isLoading() && !isEmpty()) {
      <ng-content />
    }
  </ion-content>
}
