<app-page-header [title]="title()" />
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (isLoading()) {
    <div class="loading-spinner">
      <ion-spinner name="circular" color="primary"></ion-spinner>
    </div>
  }

  @if (!isLoading() && isEmpty()) {
    <div class="ion-text-center ion-padding">
      <ion-icon [name]="emptyIcon()" size="large" color="medium" />
      <p>{{ emptyMessage() }}</p>
    </div>
  }

  @if (!isLoading() && !isEmpty()) {
    <ng-content />
  }
</ion-content>
