:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// ========================================
// LOADING SPINNER
// ========================================
.loading-spinner {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 9px auto;
  border-radius: 100%;
  padding-inline: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid var(--ion-color-step-200, var(--ion-background-color-step-200, #ececec));
  background: var(--ion-color-step-250, var(--ion-background-color-step-250, #ffffff));
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  text-align: center;
  transform-origin: center;
  transition: 200ms;
}
