.order-header {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 4px;
  vertical-align: middle;
}

.order-badges {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
