.order-filters {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__dex {
    flex: 1;
  }

  &__coin {
    flex: 1;

    ion-select {
      width: 100%;
    }
  }
}

.order-header {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 4px;
  vertical-align: middle;
}

.order-badges {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
